<div class="account-pages bg-login-img">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="card-body pt-0">
            <div class="p-2 mt-3">
              <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" placeholder="Email"
                    formControlName="email" autofocus />
                  <div style="color: red" *ngIf="f.email.errors?.['required']">
                    Email is required.
                  </div>
                  <div style="color: red" *ngIf="f.email.errors?.['email']">
                    Email not correct.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="phone">PhoneNumber</label>
                  <input type="number" class="form-control" name="phone" placeholder="Phone"
                    formControlName="phone" autofocus />
                  <div style="color: red" *ngIf="f.phone.errors?.['required']">
                    Phone is required.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password">Password</label>
                  <div class="input-group auth-pass-inputgroup">
                    <input [type]="password" class="form-control" formControlName="password"
                      placeholder="Enter password" aria-label="Password"
                      aria-describedby="password-addon">
                  </div>
                  <div style="color: red" *ngIf="f.password.errors?.['required']">
                    Password is required.
                  </div>
                  <div style="color: red" *ngIf="f.password.errors?.['decimal']">
                    Password must contain numbers, capital letters, special charactor.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="rePassword">RePassword</label>
                  <div class="input-group auth-pass-inputgroup">
                    <input [type]="password" class="form-control" formControlName="rePassword"
                      placeholder="Enter password" aria-label="Password"
                      aria-describedby="password-addon">
                  </div>
                  <div style="color: red" *ngIf="f.rePassword.errors?.['required']">
                    RePassword is required.
                  </div>
                  <div style="color: red" *ngIf="f.rePassword.errors?.['confirmedValidator']">
                    Must match the password.
                  </div>
                </div>
                <div class=" mt-3 d-grid">
                  <button class="btn btn-primary" type="submit">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
